@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*------- Fonts & Background -------------------------------------------------------------------------------------------*/

html, body{
    scroll-behavior: smooth;
    background-color: #373737;
    padding: 12;
    margin: 6;
}

.back-image{
    background-color: #afafaf;
    width: 100%;
    height: 100vh;
}



/*------- Navbar -------------------------------------------------------------------------------------------*/

.fixed-top{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand{
    font-size: 1.5rem;
}

#robin-logo{
    background-color: transparent;
    height: 40px;
    width: 40px;
}

#navbarSupportedContent{
    left: 50%;
}

.nav-link{
    color: #373737;
    margin-right: 25px;
    font-size: 14px;
}

.nav-link:hover{
    color: #737373;
}

.dropdown-menu{
    color: #373737;
    border: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
}

.dropdown-item{
    width: 90%;
    margin: auto;
    color: #373737;
    font-size: 14px;
    border-radius: .25rem;
}

.btn{
    font-size: 14px;
    text-decoration: none;
}

.btn-link{
    color: #373737;
    border: 1px solid #373737;
    text-decoration: none;
    margin-right: 25px;
}

.btn-link:hover{
    color: #737373;
    background-color: transparent;
    border-color: #737373;
    text-decoration: none;
}



/*------- Dropdown Item Logos -------------------------------------------------------------------------------------------*/

#slack-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#zapier-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#google-sheets-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#mailchimp-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}