@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/*------- Fonts & Background -------------------------------------------------------------------------------------------*/

html, body{
    scroll-behavior: smooth;
    background-color: transparent;
    min-height: 100%;
    padding: 12;
    margin: 6;
    color: #000;
}

.back-image{
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

h3{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0px;
    line-height: 10px;
    padding-top: 14px;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 4rem;
}



/*------- Containers & Boxes -------------------------------------------------------------------------------------------*/

.container-fluid{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: table;
    z-index: 50;
}



/*------- Navbar -------------------------------------------------------------------------------------------*/

.fixed-top{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 99;
}

#robin-logo{
    background-color: transparent;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.navbar{
    background-color: #fff;
}

.navbar-light .navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #373737;
    background-color: transparent;
}

.mobile-toggle{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.mobile-toggle .bar{
    height: 3px;
    width: 100%;
    background-color: #373737;
    border-radius: 10px;
}

.nav-link{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #373737;
    margin-right: 25px;
}

.nav-link:hover{
    color: #737373;
}

.nav-item:hover .dropdown-menu{
    display: block;
    transition: all 0.5s ease;
}

.dropdown-menu{
    border: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
}

.dropdown-item{
    width: 90%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    float: left;
    color: #373737;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: .25rem;
}

.dropdown-divider{
    width: 80%;
    float: left;
    margin-left: 20px;
}

.btn{
    font-size: 14px;
    text-decoration: none;
}

#log-in-btn{
    margin-right: 25px;
}

.btn-link{
    color: #373737;
    border: 1px solid #373737;
    text-decoration: none;
    z-index: 97;
}

.btn-link:hover{
    color: #fff;
    background-color: #373737;
    border-color: #373737;
    text-decoration: none;
}

.btn-dark:hover{
    background-color: transparent;
    color: #373737;
    border: 1px solid #373737;
    text-decoration: none;
}

#navbarSupportedContent{
    left: 50%;
}

.nav-scrolled{
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);    
}



/*------- Navbar Media Queries -------------------------------------------------------------------------------------------*/

@media (max-width: 1171px){
    .navbar-expand-lg .navbar-collapse {
        margin-right: 5px;
        display: none!important;
    }

    .nav{
        flex-direction: column;
        align-items: flex-end;
    }

    .nav.active{
        display: flex!important;
    }

    .mobile-toggle{
        display: flex;
    }

    .navbar-light .navbar-brand{
        font-size: 1.5rem;
    }

    .nav-link{
        margin-right: 10px;
        width: 100%;
    }

    #log-in-btn{
        display: none;
    }

    .btn-dark{
        display: none;
    }
}

@media (max-width: 768px){
    .mobile-toggle{
        display: flex;
    }

    .navbar-light .navbar-brand{
        font-size: 1.5rem;
    }

    .btn-link{
        display: none;
    }

    .btn-dark{
        display: none;
    }
}



/*------- Dropdown Item Logos -------------------------------------------------------------------------------------------*/


#robin-logo-dropdown{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

#raindrop-logo-dropdown{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

#slack-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#zapier-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#google-sheets-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#mailchimp-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


/*------- Landing Page -------------------------------------------------------------------------------------------*/

.landing-panel{
    background-color: transparent;
    color: #373737;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 100vh;
    margin-top: 120px;
    z-index: 50;
}

.landing-header{
    color: #373737;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200;
    display: table-cell;
    width: 45%;
}

#landing-title{
    color: #373737;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 4rem;
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 2rem;
    margin-left: 16rem;
    float: left;
}

#landing-text{
    color: #373737;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 2rem;
    width: 50%;
    margin-top: 2%;
    margin-left: 16rem;
    float: left;
}

.text-highlight{
    color: #ff5a09;
    font-weight: 400;
}

.form-control{
    background-color: #fff;
    color: #d4d4dc;
    border: 1px solid #d4d4dc;
}



/*------- Carousel -------------------------------------------------------------------------------------------*/

.carousel{
    float: right;
    right: 16rem;
    height: 321px;
}

.carousel-inner {
    border-radius: 20px;
}



/*------- Second Panel -------------------------------------------------------------------------------------------*/

.second-panel{
    background-color: #fff;
    color: #373737;
    width: 100%;
}

.lets-start{
    color: #373737;
    text-decoration: none;
    width: 100%;
    height: 20vh;
    text-align: center;
}

#start-btn{
    z-index: 97;
    margin-top: 20px;
}

@media (max-width: 1171px){
    #start-btn{
        display: block;
        margin: auto;
    }
}

/* PAGE & INPUT STYLING */

.btn-questionaire {
    border: 1px solid #373737;
    display: inline-block;
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 17px;
    position: relative;
    text-align: center;
    border-radius: 7px;
    -webkit-transition: background 200ms ease, color 200ms ease;
    transition: background 200ms ease, color 200ms ease;
}

.btn-questionaire span {
    border: 1px solid #373737;
    display: inline-block;
    padding: 1px 6px;
    font-size: 12px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    margin-top: -5px;
}
  
input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 80px;
}

input[type="radio"].toggle + label:hover {
    background-color: #373737;
    color: #fff;
}

input[type="radio"].toggle + label:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: left 100ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: left 100ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}
  
input[type="radio"].toggle.toggle-left + label:after {
    left: 100%;
}

input[type="radio"].toggle.toggle-right + label {
    margin-left: 10px;
}

input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
}

input[type="radio"].toggle:checked + label {
    background: transparent;
    cursor: default;
    color: #000;
}

input[type="radio"].toggle:checked + label:after {
    left: 0;
}
  
/* ENDS */
  
/* UPFORM STYLE STARTS*/
.upform input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
    border-color: #373737 !important;
}

.upform input, select, textarea {
    background-color: #fff !important;
    color: #373737;
}

.upform {
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
    max-width: 900px;
    margin: 30px auto;
    margin-bottom: 50px;
    padding: 0 20px;
}
  
  
.upform .upform-main .input-block {
    padding: 30px 0;
    cursor: default;
}

.upform .upform-main .input-block .label {
    display: block;
    font-size: 1.1em;
    line-height: 30px;
    font-weight: 300;
}

.upform .upform-main .input-block .input-control {
    margin: 20px 0;
}

.upform .upform-main .input-block .input-control input[type=text] {
    outline-width: 0;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 50%;
    font-size: 15px;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}
  
.upform .upform-main .input-block.active {
    opacity: 1;
}
  
.upform .upform-footer {
    margin-top: 5px;
}

.upform .upform-footer .btn {
    font-size: 15px;
}

.card{
    border: 0;
}
/* UPFORM STYLE ENDS*/



/*------- Third Panel -------------------------------------------------------------------------------------------*/

.third-panel{
    background-color: #3a4660;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 80vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15vh;
}

/*.skewed{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    transform: skewY(-10deg);
    transform-origin: top left;
}*/

.media-body{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 50px;
    margin-right: 10rem;
}

.mr-3{
    height: 80vh;
    margin-left: 10rem;
    padding: .5rem .5rem;
    border-radius: 20px;
}

.mt-0{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 4rem;
}

hr{
    margin-top: 3rem;
    border-top: 0;
}

.media-bold-text{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.media-text-highlight{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ff5a09;
}


/*------- Third Panel Media Queries -------------------------------------------------------------------------------------------*/

@media (max-width: 1171px){
    .media{
        display: block;
    }

    .mr-3{
        margin-left: 5rem;
        height: 50vh;
    }
}



/*------- Sign Up Button -------------------------------------------------------------------------------------------*/

.sign-up{
    color: #373737;
    text-decoration: none;
    width: 100%;
    height: 20vh;
    text-align: center;
}

#sign-up-btn{
    margin-top: 20px;
    z-index: 97;
}

@media (max-width: 1171px){
    #sign-up-btn{
        display: block;
        margin: auto;
    }
}



/*------- Footer -------------------------------------------------------------------------------------------*/

.page-footer{
    position: absolute;
    background-color: #373737;
    color: #fff;
    width: 100%;
    height: 64vh;
    display: inline-table;
    z-index: 97;
}

.footer-content{
    padding-top: 25px;
}

.footer-column-title{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px;
}

.footer-column-link a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    line-height: 3.7vh;
}

.footer-divider{
    width: 100%;
    height: 0;
    margin-top: 5.5rem;
    margin-bottom: 1rem;
    border-top: 1px solid #747474;
}

.list-inline-item a{
    color: #fff;
}

.footer-copyright{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.copyright-brand{
    color: #a7a7a7;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 200;
}



/*------- Footer Media Queries -------------------------------------------------------------------------------------------*/

@media (max-width: 768px){
    .page-footer{
        display: inline-table;
    }
}



/*------- Animated Background -------------------------------------------------------------------------------------------*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -10;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    bottom: -1px;
    background-image: linear-gradient(to top, #fff5d7 20%, #fff 80%);
    z-index: -5;
    
}
.bgTop {
    z-index: -1;
    opacity: 0.5;
}
.bgMiddle {
    z-index: -2;
    opacity: 0.75;
}
.bgBottom {
    z-index: -3;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100vh;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    z-index: -5;
}
.waveTop {
    background-size: 50% 100px;
    z-index: -1;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
   z-index: -1;
}
.waveMiddle {
    background-size: 50% 120px;
    z-index: -2;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
    z-index: -2;
}
.waveBottom {
    background-size: 50% 100px;
    z-index: -3;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
    z-index: -3;
}



/*-------  -------------------------------------------------------------------------------------------*/

