@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/*------- Animated Background -------------------------------------------------------------------------------------------*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    bottom: -1px;
    background-image: linear-gradient(to top, #52ecf1 20%, #e6f9fc 80%);
    z-index: -1;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
    z-index: -1;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
    z-index: -1;
}
.bgBottom {
    z-index: 0;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100vh;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    z-index: -1;
}
.waveTop {
    background-size: 50% 100px;
    z-index: -1;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
   z-index: -1;
}
.waveMiddle {
    background-size: 50% 120px;
    z-index: -1;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
    z-index: -1;
}
.waveBottom {
    background-size: 50% 100px;
    z-index: -1;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
    z-index: -1;
}



/*------- Fonts & Background -------------------------------------------------------------------------------------------*/

html, body{
    scroll-behavior: smooth;
    background-color: transparent;
    min-height: 100%;
    padding: 12;
    margin: 6;
}

.back-image{
    background-color: #afafaf;
    width: 100%;
    height: 100vh;
}

h3{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0px;
    line-height: 10px;
    padding-top: 14px;
}



/*------- Containers & Boxes -------------------------------------------------------------------------------------------*/

.container-fluid{
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    padding-bottom: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: table;
}



/*------- Navbar -------------------------------------------------------------------------------------------*/

.fixed-top{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 99;
}

#robin-logo{
    background-color: transparent;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.navbar-light .navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #373737;
}

.mobile-toggle{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.mobile-toggle .bar{
    height: 3px;
    width: 100%;
    background-color: #373737;
    border-radius: 10px;
}

.nav-link{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #373737;
    margin-right: 25px;
}

.nav-link:hover{
    color: #737373;
}

.nav-item:hover .dropdown-menu{
    display: block;
    transition: all 0.5s ease;
}

.dropdown-menu{
    border: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
}

.dropdown-item{
    width: 90%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    float: left;
    color: #373737;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: .25rem;
}

.dropdown-divider{
    width: 80%;
    float: left;
    margin-left: 20px;
}

.btn{
    font-size: 14px;
    text-decoration: none;
}

.btn-link{
    color: #373737;
    border: 1px solid #373737;
    text-decoration: none;
    margin-right: 25px;
    z-index: 97;
}

.btn-link:hover{
    color: #737373;
    background-color: transparent;
    border-color: #737373;
    text-decoration: none;
}

#navbarSupportedContent{
    left: 50%;
}



/*------- Navbar Media Queries -------------------------------------------------------------------------------------------*/

@media (max-width: 1171px){
    .navbar-expand-lg .navbar-collapse {
        margin-right: 5px;
        display: none!important;
    }

    .nav{
        flex-direction: column;
        align-items: flex-end;
    }

    .nav.active{
        display: flex!important;
    }

    .mobile-toggle{
        display: flex;
    }

    .navbar-light .navbar-brand{
        font-size: 1.5rem;
    }

    .nav-link{
        margin-right: 10px;
        width: 100%;
    }

    .btn-link{
        display: none;
    }

    .btn-dark{
        display: none;
    }
}

@media (max-width: 768px){
    .mobile-toggle{
        display: flex;
    }

    .navbar-light .navbar-brand{
        font-size: 1.5rem;
    }

    .btn-link{
        display: none;
    }

    .btn-dark{
        display: none;
    }
}



/*------- Dropdown Item Logos -------------------------------------------------------------------------------------------*/


#robin-logo-dropdown{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

#raindrop-logo-dropdown{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

#slack-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#zapier-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#google-sheets-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#mailchimp-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


/*------- Contact -------------------------------------------------------------------------------------------*/

.contact-panel{
    background-color: transparent;
    margin-bottom: 120px;
}

.lets-chat{
    color: #ff5a09;
    font-weight: 400;
}

.form-control{
    background-color: #fff;
    color: #d4d4dc;
    border: 1px solid #d4d4dc;
}



/*------- Contact 02 -------------------------------------------------------------------------------------------*/

.contact-panel-02{
    background-color: #dddddd;
    margin-bottom: 120px;
}

.lets-chat-02{
    color: blue;
    font-weight: 400;
}

.form-control-02{
    background-color: #fff;
    color: #d4d4dc;
    border: 1px solid #d4d4dc;
}



/*------- Footer -------------------------------------------------------------------------------------------*/

.page-footer{
    position: absolute;
    background-color: #373737;
    color: #fff;
    width: 100%;
    height: 64vh;
    display: inline-table;
    z-index: 97;
}

.footer-content{
    padding-top: 25px;
}

.footer-column-title{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px;
}

.footer-column-link a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    line-height: 3.7vh;
}

.footer-divider{
    width: 100%;
    height: 0;
    margin-top: 5.5rem;
    margin-bottom: 1rem;
    border-top: 1px solid #747474;
}

.list-inline-item a{
    color: #fff;
}

.footer-copyright{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.copyright-brand{
    color: #a7a7a7;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 200;
}



/*------- Footer Media Queries -------------------------------------------------------------------------------------------*/

@media (max-width: 768px){
    .page-footer{
        display: inline-table;
    }
}